body,html{
    overflow-x: hidden;
}

body{
    font-family: "Poppins",sans-serif;
    font-size: 17px;
    font-weight:400;
    line-break: 1.3;
    color:#000000;
    overflow-x: hidden;
    -webkit-text-stroke:1px transparent;
}
a{
    color:#000000;
    text-decoration: none !important;
    -webkit-transition: 0.3s;
    -ms-transition: 0.3s;
    transition: 0.3s;
}
a:hover,
a:focus{
    text-decoration: none;
    outline: none;
    color: #000000;
}
.text-noeffect{
    font-size:inherit !important;
    margin:0 !important;
    font-family:inherit !important;
    padding:0 !important;
    color:inherit !important;
    font-weight:inherit !important;
    line-height:inherit !important;
    text-align:inherit !important;
    text-transform:inherit !important;
    width:inherit !important;
    float:inherit !important;
    border:0 !important;
}
.default-section{
    display: inline-block;
    width: 100%;
    padding: 60px 0;
}

.subHeadSec{
    font-size: 18px;
    font-family: 'poppins', sans-serif;
    font-weight: 500;
    color: #5E6282;
}
.section-head{
    font-family: 'volkhov', sans-serif;
    font-weight: bold;
    font-size: 50px;
    line-height: 1.3;
}


/* navabar style  */
.navabrHeader ul li{
    margin: 0px 15px;
}
.navabrHeader a{
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    color: #212832; 
}
.navabrHeader a.signupButton{
    padding: 8px 20px;
    border: 1px solid #212832;
    border-radius: 5px;
}
#language{
    border: none;
    outline: none;
}

/* banner style  */
.heroBannerSection{
    position: relative;
}
.heroBannerSection::after{
    content: url('./img/bannerbackground.png');
    position: absolute;
    top: 0;
    right:0;
    z-index: -1;
    height: 80%;
    overflow: hidden;
}
.bannerImagePart img{
    width: 100%;
}
.subHead{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    color: #DF6951;
    margin-bottom: 15px;
}
.bannerHead{
    font-family: 'volkhov', sans-serif;
    font-weight: bold;
    font-size: 75px;
    line-height: 1;
    margin-bottom: 15px;
}
.bannerPara{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #5E6282;
    margin-bottom: 15px;
}

.bannerBtn{
    display: flex;
    align-items: center;
    gap: 40px;
}

.pageButton{
    background-color: #F1A501;
    padding: 12px 15px;
    color: #fff;
    border-radius: 10px;
    font-size: 16px;
}
.pageButton:hover{
    background-color: #F1A501;
    padding: 12px 15px;
    color: #fff;
    border-radius: 10px;
    font-size: 16px;
}
.demoButton{
    display: flex;
    align-items: center;
    gap: 10px;
}
.demoButton a{
    color: #686D77;
}
.demoButton .demo .play{
    background-color: #DF6951;
    padding: 10px;
    border-radius: 50%;
    display: inline-block;
    margin: auto;
    box-shadow: 0px 15px 30px #DF6951;
}

.demoButton .demo .play  svg{
    width: 13px;
    height: 13px;
}

.offerSection{
    position: relative;
}
.offerSection::before{
    content: url('./img/stars.png');
    position: absolute;
    top: 0;
    right: 15%;
}
.offerCard{
    padding: 20px 20px;
}
.offerCard .cardhead{
    font-family: 'open-sans', sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-top: 15px;
}
.offerCard .cardpara{
    font-family: 'poppins', sans-serif;
    color: #5E6282;
    line-height: 1.6;
    margin-top: 10px;
}

.sectionButton{
    padding: 8px 20px;
    border: 1px solid #EDEDED;
    font-family: 'poppins', sans-serif;
    color: #5E6282;
    margin: 0px 5px;
    border-radius: 10px;
}

.sectionButton.active{
    border: none;
    outline: none;
    background-color: #F1A501;
    color: #fff;
}
.tripdays span svg{
    height: 18px;
    width: 18px;
    fill:#080809;
}

.destinationCard{
    position: relative;
    border-radius: 24px;
}
.destinationCard .imgPart{
    border-radius: 24px;
    background-color: transparent;
}
.destinationCard .imgPart img{
    border-radius: 24px;
}

.destinationCard .imgPart img{
    width: 100%;
}
.destinationCard .destInfo{
    position: absolute;
    bottom: -80px;
    width: 100%;
    transition: 0.5s;
    overflow: hidden;
    display: none;
    padding: 20px 20px;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    background-color: #fff;
}

.destinationCard:hover img{
    box-shadow: 0 100px 80px rgba(0,0,0,0.3);
}

.destinationCard:hover .destInfo{
    bottom: 0;
    z-index: 1;
    display: block;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    background-color: #fff;
}

.destInfo .destiPrice{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    color: #5E6282;
    font-weight: 500;
}

.destInfo .tripdays{
    margin-top: 10px;
    font-weight: 400;
    font-size: 18px;
    color: #5E6282;
}

.easyAndFastSection .easyImg img{
    width: 100%;
}

.uspSec{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
}

.uspSec .upsIcon span{
    padding: 12px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.uspSec .upsIcon span svg{
    width: 25px;
    height: 25px;
    fill: #fff;
}
.uspSec .upsIcon span.yellow{
    background-color: #F0BB1F;
}
.uspSec .upsIcon span.orange{
    background-color: #F15A2B;
}
.uspSec .upsIcon span.purple{
    background-color: #006380;
}
.uspSec .uspDesc .h3-head{
    font-size: 16px;
    font-weight: bold;
    color: #5E6282;
}
.uspSec .uspDesc .upsPara{
    font-size: 16px;
    font-weight: 400;
    color: #5E6282;
}
.gallarySlider{
    width: 100%;
}

.swiper-slide img{
    width: 100%;
    border-radius: 24px;
}

.swiper-button-next{
    color: #000;
    font-size: 16px !important;
    background-color: #fff;
    padding: 10px;
    border-radius: 50%;
}
.swiper-button-prev{
    color: #000;
    font-size: 16px !important;
    background-color: #fff;
    padding: 10px;
    border-radius: 50%;
}
.swiper-button-next:after, .swiper-button-prev:after {
    font-family: swiper-icons;
    font-size: 16px;
    text-transform: none!important;
    letter-spacing: 0;
    font-variant: initial;
    line-height: 1;
}
